#img-bg{
    background-image: url('https://i.pinimg.com/564x/40/68/ab/4068ab05d410e407ae0dba0e5a3222f2.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}